<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>v-for遍历数组</title>
</head>
<body>
  <div id="app">
    <ul>
      <li v-for="name in names">{{name}}</li>
    </ul>
    <ul>
      <li v-for="(name, index) in names">{{index+1}}-{{name}}</li>
    </ul>
  </div>
  <script src="../js/vue.js"></script>
  <script>
    const app = new Vue({
      el:"#app",
      data:{
        names:['why', 'Tylor', 'Lenard']
      }
    })
  </script>
</body>
</html>