<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>书籍购物车案例</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <div v-if="books.length>0">
      <table>
        <thead>
          <tr>
            <th>编号</th>
            <th>书籍名称</th>
            <th>出版日期</th>
            <th>价格</th>
            <th>购买数量</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in books">
            <td>{{index+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.beginDate}}</td>
            <!-- <td>{{getFinalPrice(item.price)}}</td> -->
            <td>{{item.price | showPrice}}</td>
            <td>
              <button @click="decrement(item)" :disabled="item.count<2">-</button>
              {{item.count}} 
              <button @click="increment(item)">+</button>
            </td>
            <td>
              <button @click="removeHandle(index)">移除</button>
            </td>
          </tr>
        </tbody>
      </table>
      <h2>总价格：{{totalPrice | showPrice}}</h2>
    </div>
    <div v-else>
      <h1>购物车为空</h1>
    </div>
  </div>

  <script src="../js/vue.js"></script>
  <script src="main.js"></script>

</body>
</html>