<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>组件通信-父子通信</title>
</head>
<body>
  <div id="app">
    <h2>父组件num1-{{num1}}</h2>
    <!-- <input type="text" v-model="num1"> -->
    <h2>父组件num2-{{num2}}</h2>
    <!-- <input type="text" v-model="num2"> -->

    <cpn :number1="num1" :number2="num2" @num1change="num1Change" @num2change="num2Change"></cpn>
  </div>

  <template id="cpn">
    <div>
      <h2>子组件number1-{{number1}}</h2>
      <h2>子组件dnumber1-{{dnumber1}}</h2>
      <input type="text" v-model="dnumber1" @input="number1input">
      <h2>子组件number2-{{number2}}</h2>
      <h2>子组件dnumber2-{{dnumber2}}</h2>
      <input type="text" v-model="dnumber2" @input="number2input">
    </div>
  </template>

  <script src="../js/vue.js"></script>
  <script>
    const cpn = {
      template: "#cpn",
      data() {
        return {
          dnumber1: this.number1,
          dnumber2: this.number2
        }
      },
      props: {
        number1: [Number, String],
        number2: [Number, String]
      },
      methods: {
        number1input(){
          this.$emit('num1change', event.target.value)
        },
        number2input(){
          this.$emit('num2change', event.target.value)
        }
      }
    }

    const app = new Vue({
      el: "#app",
      data: {
        num1: 100,
        num2: 200
      },
      components: {
        cpn
      },
      methods: {
        num1Change(value) {
          this.num1 = value
        },
        num2Change(value) {
          this.num2 = value
        }
      }
    })
  </script>
</body>
</html>